<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- 
    Devemos garantir que o Filtro de Login seja executado antes da Conexão, 
    assim evitamos que uma conexão seja aberta para um usuário que não está logado.
    Para isso, basta declarar e mapear primeiro o Filtro de Login.
    -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>br.grupointegrado.facebug.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ConexaoFilter</filter-name>
        <filter-class>br.grupointegrado.facebug.filter.ConexaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ConexaoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.grupointegrado.facebug.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimelineServlet</servlet-name>
        <servlet-class>br.grupointegrado.facebug.controller.TimelineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimelineServlet</servlet-name>
        <url-pattern>/Timeline</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Timeline</welcome-file>
    </welcome-file-list>
</web-app>
