body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #E5E5E5;
}
.sidebar-nav {
    padding: 9px 0;
}
.navbar-profile-image{
    height: 40px;
}
.nav-list-profile-image{
    height: 100px;
}
.navbar-logo-image {
    padding: 0px;
    margin: 0px 10px 0px 0px;
    height: 40px !important;
}
.navbar-inverse .navbar-inner {
    background-color: #000323;
    background-image: linear-gradient(to bottom, #00026B, #000142);
    background-repeat: repeat-x;
    border-color: #000142;
}
.blank-line {
    clear: both;
}
.div-menu-conteudo {
    margin: 0px auto;
    width: 720px;
    padding: 0px;
    padding-right: 194px;
}
.div-conteudo {
    width: 496px !important;
}
.div-menu {
    width: 194px !important;
}
.postagem {
    background-color: white !important; 
    padding: 20px !important;
}

.postagem-profile-image {
    height: 50px !important;
    float: left;
}
.postagem-data {
    float: right;
}
.postagem-nome {
    margin: 0px !important;
}
.postagem-nome h4 {
    margin: 0px !important;
    margin-bottom: 10px !important;
}